# `Load Libraries`
***

In [1]:
import pickle as pkl
import pandas as pd

***
# `Import Dataset`
***

In [2]:
df = pd.read_csv('sklearn_data/insurance.csv')

In [3]:
x = df.drop('charges',axis=1)
y = df['charges']

***
# `Convert x into numbers`
***

In [4]:
objects = ['sex','children','smoker','region']
for i in objects:
    x[i] = x[i].astype('category')

In [5]:
dummies = pd.get_dummies(x[objects])
x = pd.concat((x,dummies),axis=1)

In [6]:
x.drop(objects,inplace=True,axis=1)

In [7]:
x.head(2)

,age,bmi,sex_female,sex_male,children_0,children_1,children_2,children_3,children_4,children_5,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.90,1,0,1,0,0,0,0,0,0,1,0,0,0,1
1,18,33.77,0,1,0,1,0,0,0,0,1,0,0,0,1,0

***
# `Load Model`
***

In [8]:
loaded_model = pkl.load(open('gradien_boost.pkl','rb'))

***
# `Predict x with model`
***

In [9]:
predict = loaded_model.predict(x)

In [10]:
loaded_model.score(x,y)

0.8952586326983358

***
# `Compare Score`
***

In [11]:
compare = pd.DataFrame({
    'Actual':y,
    'Predicted':predict,
    'Difference':predict-y
})

In [12]:
compare.tail()

          Actual     Predicted   Difference
1332  10600.5483  11334.069853   733.521553
1333   2205.9808   3805.175409  1599.194609
1334   1629.8335   2270.281006   640.447506
1335   2007.9450   2846.908267   838.963267
1336  29141.3603  28888.046742  -253.313558